#!/usr/bin/sh
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_CACHE_HOME="$HOME/.cache"
#export XDG_CURRENT_DESKTOP=dwl
#export XDG_SESSION_TYPE=wayland
#export XDG_SESSION_DESKTOP=dwl
#export GTK_THEME=Flat-Remix-GTK-Grey-Dark
export MUPDFHISTFILE="/tmp/.mupdf.history"
export RXVT_SOCKET="$XDG_RUNTIME_DIR"/urxvtd
export XSECURELOCK_SHOW_HOSTNAME=0
export XSECURELOCK_SHOW_USERNAME=0
export XSECURELOCK_SHOW_KEYBOARD_LAYOUT=0
export XSECURELOCK_WAIT_TIME_MS=200000
export WGETRC="$XDG_CONFIG_HOME/wgetrc"
export DOTNET_CLI_TELEMETRY_OPTOUT=1
export ASPNETCORE_ENVIRONMENT=Development
export NNN_FCOLORS='c1e2c42e006033f7c6d6ab27'
export NNN_BMS='h:/home/zenex;.:/home/zenex/.config;d:/home/zenex/Downloads;D:/home/zenex/Documents'
export NNN_ARCHIVE="\\.(7z|a|ace|alz|arc|arj|bz|bz2|cab|cpio|deb|gz|jar|lha|lz|lzh|lzma|lzo|rar|rpm|rz|t7z|tar|tbz|tbz2|tgz|tlz|txz|tZ|tzo|war|xpi|xz|Z|zip)$"
export NNN_FIFO=/tmp/nnn.fifo
#export NNN_PLUG='t:preview-tui;r:rsynccp;l:trash'
export NNN_PLUG='r:rsynccp'
export NNN_OPTS='HdP'
export NNN_TRASH=1
export TERMINAL="st"
export EDITOR="nvim"
export VISUAL="nvim"
#export VISUAL="emacsclient -c -a emacs"
#export VISUAL="emacsclient -t"
#export PATH=/run/current-system/sw/bin/omnisharp:$PATH
export PATH=~/.local/bin:$PATH
export LF_COLORS="~/Documents=01;31:~/Downloads=01;31:~/.local/share=01;31:~/.config/lf/lfrc=31:.git/=01;32:.git=32:.gitignore=32:Makefile=32:README.*=33:*.txt=34:*.md=34:ln=01;36:di=01;31:ex=01;32:"
export LS_COLORS="rs=0:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:su=37;41:sg=30;43:tw=30;42:ow=34;42:st=37;44:ex=01;32:"
export FZF_DEFAULT_OPTS="-e --no-scrollbar --border=none --reverse --no-info"
export QT_QPA_PLATFORMTHEME=qt5ct
export _ZL_DATA='~/.local/share/.zlua'
export LESSHISTFILE='/tmp/.lesshst'
export URXVT_PERL_LIB="~/.config/urxvt/ext"
export LIBVIRT_DEFAULT_URI='qemu:///system'
export MOZ_ENABLE_WAYLAND="0"
#export SAL_USE_VCLPLUGIN="gtk3"
