export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CACHE_HOME="$HOME/.cache"
#export XAUTHORITY="$XDG_DATA_HOME"/Xauthority
#export GTK2_RC_FILES="$XDG_CONFIG_HOME"/gtk-2.0/gtkrc
export ZDOTDIR="$XDG_CONFIG_HOME/zsh"
export MUPDFHISTFILE="/tmp/.mupdf.history"
export RXVT_SOCKET="$XDG_RUNTIME_DIR"/urxvtd
export XSECURELOCK_SHOW_HOSTNAME="0"
export XSECURELOCK_SHOW_USERNAME="0"
export WGETRC="$XDG_CONFIG_HOME/wgetrc"
export DOTNET_CLI_TELEMETRY_OPTOUT=1
export ASPNETCORE_ENVIRONMENT=Development
export NNN_FCOLORS='c1e2c42e006033f7c6d6ab27'
export NNN_BMS='h:/home/zenex;.:/home/zenex/.config;d:/home/zenex/Downloads;D:/home/zenex/Documents'
export NNN_ARCHIVE="\\.(7z|a|ace|alz|arc|arj|bz|bz2|cab|cpio|deb|gz|jar|lha|lz|lzh|lzma|lzo|rar|rpm|rz|t7z|tar|tbz|tbz2|tgz|tlz|txz|tZ|tzo|war|xpi|xz|Z|zip)$"
export NNN_FIFO=/tmp/nnn.fifo
export NNN_PLUG='t:preview-tabbed;r:rsynccp;l:trash'
export NNN_OPTS='HdP'
#export TERMINAL="st"
export EDITOR="nvim"
export VISUAL="nvim"
#export PATH=/run/current-system/sw/bin/omnisharp:$PATH
export PATH=~/.local/bin:$PATH
export LF_COLORS="~/Documents=01;31:~/Downloads=01;31:~/.local/share=01;31:~/.config/lf/lfrc=31:.git/=01;32:.git=32:.gitignore=32:Makefile=32:README.*=33:*.txt=34:*.md=34:ln=01;36:di=01;31:ex=01;32:"
export QT_QPA_PLATFORMTHEME=qt5ct
export _ZL_DATA='~/.local/share/.zlua'
export LESSHISTFILE='/tmp/.lesshst'
export URXVT_PERL_LIB="~/.config/urxvt/ext"
