!xrdb -merge .Xresources
!Xft.autohint: 0
!Xft.antialias: 1
!Xft.hinting: True
!Xft.hintstyle: hintfull
!Xft.lcdfilter: lcddefault
!Xft.rgba: rgb
!XTerm.vt100
URxvt.font: xft:Hack Nerd Font Mono:Regular:pixelsize=16=antialias=false
!*.font: xft:Hack Nerd Font Mono:Regular:pixelsize=16=antialias=false
!URxvt.letterSpace: 0
!URxvt.lineSpace: 0
URxvt.cursorBlink: true
URxvt.cursorUnderline: true
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: false
URxvt.visualBell: true
URxvt.saveLines: 0
URxvt.iso14755: flase
URxvt.iso14755_52: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.C-minus: resize-font:smaller
URxvt.keysym.C-plus: resize-font:bigger
URxvt.keysym.C-equal: resize-font:reset
!https://github.com/simmel/urxvt-resize-font
URxvt.buffered: false
URxvt.pointerBlank: true
URxvt.pointerBlankDelay: 5
URxvt.perl-ext: default,matcher,font-size
!URxvt.perl-lib: /usr/lib/x86_64-linux-gnu/urxvt/perl
URxvt.perl-lib: /home/zenex/.config/urxvt/ext
!URxvt.url-launcher:       firefox
!URxvt.matcher.button:     1
!URxvt.matcher.pattern.1:  \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
!URxvt.matcher.pattern.2:  \\B(/\\S+?):(\\d+)(?=:|$)
!URxvt.matcher.launcher.2: nvim +$2 $1
!
!URxvt.keysym.C-z: matcher:select
!URxvt.perl-ext-common: matcher,resize-font,clipboard-osc,eval,keysym-list
!URxvt.perl-ext-common: resize-font,clipboard-osc,eval,keysym-list
URxvt.foreground: #c6c6c6
URxvt.background: #000000
URxvt.cursorColor: #c6c6c6

XTerm.vt100.foreground: #c6c6c6
XTerm.vt100.background: #000000
XTerm.vt100.cursorColor: #c6c6c6

! black
URxvt.color0: #000000
URxvt.color8: #808080
! red
URxvt.color1: #cd0000
URxvt.color9: #ff0000
! green
URxvt.color2: #00cd00
URxvt.color10: #00ff00
! yellow
URxvt.color3: #cdcd00
URxvt.color11: #ffff00
! blue
URxvt.color4: #2B7Df0
URxvt.color12: #0066FF
! magenta
URxvt.color5: #cd00cd
URxvt.color13: #ff00ff
! cyan
URxvt.color6: #00cdcd
URxvt.color14: #00ffff
! white
URxvt.color7: #e5e5e5
URxvt.color15: #ffffff
